@font-face {
    font-family: KievitBold;
    src: url('/fonts/Kievit_Bold.ttf');
}

@font-face{
    font-family: CharterBold;
    src: url('/fonts/CharterBoldBT.ttf');
}

@font-face{
    font-family: Charter;
    src: url('/fonts/CharterNormal.ttf');
}