img
{
	width: 100%;

}

.dropdown-toggle::after {
    display:none
}

a
{
	color: gray;
}
.user-icon
{
	max-width: 55px;
	border-left: 1px solid rgba(10, 10, 10, 0.1) ;
	padding-left: 10px;
	margin-left: 10px;

}
.my-navbar
{
	background-color: white;
	/*height: 60px;*/
	box-shadow: 10px 5px;
	/*padding: 1%;*/
}
.my-nav
{
 	background-color:#092a60;
 	color : white;
}

.my-nav a
{
	color : white;
}


.my-sidebar
{
	 	background-color:#1c1f23;
 	color : white;
 	width: 250px;
 	height: 100vh;
 	position: fixed;
}

.my-sidebar a 
{
	color:  white;
}
.box-shadow
{
	 -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}


.nav-item
{
	margin-top: 30%;
	/*margin-left: 5%;*/	
}
.nav-item i
{
	margin-right: 5px;
	font-size: 18px;
}
.nav-item .nav-link
{
/*	border-bottom: 1px solid gray;*/
margin-bottom: 2%;
}

.nav-link:hover
{
	background-color:#829ecc;
}
 
 .content
 {
 	margin-left: 250px;
 	padding-top: 3%;		
 }

  .footer
 {
 	margin-left: 250px;
 	margin-bottom: 50px;

 	margin-top: 50px;		
 	opacity: 0.5;
 }