.upload-image  input
{
	display: none;

/*		*/
}

.overlay
{
	background: black;
	opacity: 0.1;
    top:0;
    left:0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
.caption
{
	display: none;
	 
       position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

	 
}

.thumbnail:hover > .overlay
{
	display: block;
	cursor: pointer;

}

.thumbnail:hover > .caption
{

	display: block;
}
.thumbnail{
    position:relative;
    
}